page-about {

  .item-md-dark {
    .card-divider {
      background-color: map-get($colors, light-dark);
      margin: 10px 0;
    }
    .card-description {
      color: map-get($colors, lightest-dark);
    }
    .title-button {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}
