page-generator {
  #generator-bg {
    overflow: hidden;
    width: 342px;
    height: 540px;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: -1;
    background-image: url("../assets/imgs/thinker.png");
    background-repeat: no-repeat;
    background-size: 110% auto;
    background-position: -65px 97px;
  }

  #generator-button {
    position: fixed;
    z-index: 99;
    left: 50%;
    transform: translateX(-50%);
    bottom: 35px;
    margin: 0;
  }

  .help-circle {
    position: absolute;
    top: 6px;
    left: 200px;
  }

  #image-container {
    &.show-text {
      margin-bottom: -16px;
    }
    img {
      max-width: 150px;
    }
  }
  #generator-result {
    .card {
      border: 3px solid map_get($colors, danger);
      margin-top: 0;
    }
    .card-content {
      padding: 16px;
    }
  }
}
