@font-face {
  font-family: 'Bebas Neue';
  src: url('../assets/fonts/bebasneue_bold.woff2') format('woff2'),
  url('../assets/fonts/bebasneue_bold.woff') format('woff'),
  url('../assets/fonts/bebasneue_bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
