// http://ionicframework.com/docs/v2/theming/

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.button {
  background-image: linear-gradient(to right, #644de9, #681fd2);
  border-radius: 20px;
  text-transform: none;
  font-size: 20px;
  padding-left: 18px;
  padding-right: 18px;
  font-weight: 500;
  height: 60px;
  box-shadow: none;
}

h1 {
  text-transform: uppercase;
  font-weight: 700;
  font-family: "Bebas Neue", "Helvetica Neue", "Roboto", sans-serif;
  margin-top: 0;
  position: relative;
  height: 33px;
}

h2 {
  font-weight: bold;
  margin-bottom: 0;
  margin-top: 0;
}

p {
  color: map-get($colors, lightest-dark)
}
